@import "bootstrap-sprockets";
@import "bootstrap";

#logo {
  text-transform: uppercase;
  float: left;
  letter-spacing: -1px;
  font-weight: bold;
  font-size: 1.7em;
}

.center {
  text-align: center;
}
